@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root  {
  --background: 31 100% 95%;
  --foreground: 31 5% 5%;
  --card: 31 50% 90%;
  --card-foreground: 31 5% 10%;
  --popover: 31 100% 95%;
  --popover-foreground: 31 100% 5%;
  --primary: 31 88% 58%;
  --primary-foreground: 0 0% 100%;
  --secondary: 31 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -7 30% 85%;
  --muted-foreground: 31 5% 35%;
  --accent: -7 30% 80%;
  --accent-foreground: 31 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 31 5% 90%;
  --border: 31 30% 50%;
  --input: 31 30% 18%;
  --ring: 31 88% 58%;
  --radius: 0.5rem;
}
.dark  {
  --background: 31 50% 5%;
  --foreground: 31 5% 90%;
  --card: 31 50% 5%;
  --card-foreground: 31 5% 90%;
  --popover: 31 50% 5%;
  --popover-foreground: 31 5% 90%;
  --primary: 31 88% 58%;
  --primary-foreground: 0 0% 100%;
  --secondary: 31 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: -7 30% 15%;
  --muted-foreground: 31 5% 60%;
  --accent: -7 30% 15%;
  --accent-foreground: 31 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 31 5% 90%;
  --border: 31 30% 18%;
  --input: 31 30% 18%;
  --ring: 31 88% 58%;
  --radius: 0.5rem;
}
